spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/shiftplanner
    username: shiftplanner
    password: shiftplanner

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect